body {
  background-color: #f6f6f6;
  font-family: 'Lora', serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

h1 {
  color: #333;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nombre-cumpleanero {
  display: inline-block;
  font-size: 40px;
  color: #2f464b;
  margin-left: 10px;
}

img {
  display: block;
  margin: auto;
}

p {
  color: #666;
  font-size: 16px;
}

.surprise {
  background-color: #c4dbf2;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.surprise h2, .surprise h3 {
  color: #2f464b;
}

footer {
  margin-top: 20px;
  text-align: center;
}

footer p {
  color: #666;
  font-size: 12px;
}